---
interface Props {
	showByDefault?: boolean;
	content: string;
	title: string;
}

const { showByDefault, content, title } = Astro.props as Props;
---

<div
	class="border-t-2 border-stone-100/40 flex flex-col gap-y-4 items-start py-6 transition-colors hover:bg-stone-100/5 w-full"
	tabindex={0}
	role="button"
	data-disclousure
	aria-expanded={showByDefault}
	aria-controls="disclousure-content"
>
	<h4
		id="disclousure-btn"
		class="font-semibold text-2xl flex items-center justify-between"
	>
		{title}
	</h4>
	<p hidden={!showByDefault} id="disclousure-content">
		{content}
	</p>
</div>

<script>
	const disclousures = document.querySelectorAll("[data-disclousure]");

	disclousures.forEach((disclousure) => {
		disclousure.addEventListener("click", function (event) {
			const $content = disclousure.querySelector("#disclousure-content");
			// If the content is visible, hide it
			// Otherwise, show it
			if (!event && !content) return;

			if (event.target.getAttribute("aria-expanded") === "true") {
				event.target.setAttribute("aria-expanded", false);
				$content.setAttribute("hidden", "");
			} else {
				event.target.setAttribute("aria-expanded", true);
				$content.removeAttribute("hidden");
			}
		});
	});
</script>
